.faq_section{ padding:0; margin:0; }

.questaions{ position:relative; z-index:1; display:flex; align-items:center; background:#EAF8F1; border-radius:25px; overflow:hidden; padding:35px 45px; margin:0 0 var(--cmngap-btm); }
.questaions .text_block{ flex:1; padding-right:15px; }
.questaions .text_block h2{ font-weight:600; color:var(--up-theme); margin-bottom:15px; }
.questaions .text_block p{ color:var(--up-gray); margin-bottom:0; }
.questaions button{ flex-shrink:0; }
.questaions img{ position:absolute; right:0; bottom:0; pointer-events:none; z-index:-1; }