.popular_wrap{ background:url(/assets/images/packagebg.jpg) no-repeat left top / cover; border-radius:0; padding:var(--cmngap-btm) 0; }
.popular_wrap .top_title h2{ color:var(--up-white) !important; }
.popular_wrap .top_title p{ color:var(--up-white) !important; }